<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <meta charset="UTF-8">
    <title>My Website - About</title>
 
</head>
<body>
    <h1>Che Hutchinson Serju</h1>
    <p>I'm an insanely average 20 year old college student who also works as a robotics teacher and likes games and anime. 
    I'm also fighting for my life currently and am having quite a terrible year so far.
    I have 2 dogs and <span class="gradient"><b>a lot of anxiety.</b></p>
</body>
<img src="{{ url_for('static', filename='cat.jpg') }}" alt="me currently" width="600p" class="pic">

</html>